{% extends 'base.html' %}

{% block content2 %}

    {% load crispy_forms_tags %}

<form method="post">

    {% csrf_token %}

<label><h4>Personal Identification</h4></label>
{% crispy personform %}
<label><h4>Address(es)</h4></label>
{% crispy addressforms addressformhelper %}
<input type="button" name="add_address" value="Add Address" class="btn btn-info" id="button-id-add_address"/>
<p></p>
<label><h4>Contact Information</h4></label>
{% crispy phoneforms phoneformhelper %}
<input type="button" name="add_phone" value="Add Phone" class="btn btn-info" id="button-id-add_phone">
{% crispy emailforms emailformhelper %}
<input type="button" name="add_email" value="Add Email" class="btn btn-info" id="button-id-add_email">
<p></p>
<label><h4>Contact Information</h4></label>
{% crispy contactform %}
<p></p>
<label><h4>Call Log</h4></label>
{% crispy logform %}
<p></p>
<label><h4>Symptoms</h4></label>
{% crispy symptomlogforms symptomloghelper %}
<input type="button" name="add_symptom" value="Add Symptom" class="btn btn-info" id="button-id-add_symptom">

<div id="empty_address" style="display:none">
    {% crispy addressforms.empty_form addressformhelper %}
</div>
<div id="empty_email" style="display:none">
    {% crispy emailforms.empty_form emailformhelper %}
</div>
<div id="empty_phone" style="display:none" class="row">
    {% crispy phoneforms.empty_form phoneformhelper %}
</div>
<div id="empty_symptom" style="display:none">
    {% crispy symptomlogforms.empty_form symptomloghelper %}
</div>

    <p></p>
    <div class="form-row">
        <input class="btn btn-primary col-md-3 mr-md-3" type="submit" name="save_and_exit" value="Save and exit" />
        <input class="btn btn-primary col-md-3 mr-md-3" type="submit" name="save_and_add_another" value="Save and Add Another" />
        <a href="/TracingApp/assignments" class="btn btn-danger col-md-3 mr-md-3">Cancel</a>
    </div>

</form>

<script>

$('#add_more').click(function() {
	var form_idx = $('#id_form-TOTAL_FORMS').val();
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('#button-id-add_phone').click(function() {
	var form_idx = $('#id_phone-TOTAL_FORMS').val();
	$('#div_id_phone-'+(parseInt(form_idx)-1)+'-phone_number').parent().parent().parent().append($('#empty_phone').html().replace(/__prefix__/g, form_idx));
	$('#id_phone-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('#button-id-add_email').click(function() {
	var form_idx = $('#id_email-TOTAL_FORMS').val();
	$('#div_id_email-'+(parseInt(form_idx)-1)+'-email_address').parent().parent().parent().append($('#empty_email').html().replace(/__prefix__/g, form_idx));
	$('#id_email-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('#button-id-add_address').click(function() {
	var form_idx = $('#id_address-TOTAL_FORMS').val();
	$('#div_id_address-'+(parseInt(form_idx)-1)+'-street').parent().parent().parent().append($('#empty_address').html().replace(/__prefix__/g, form_idx));
	$('#id_address-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('#button-id-add_symptom').click(function() {
	var form_idx = $('#id_sxlog-TOTAL_FORMS').val();
	$('#div_id_sxlog-'+(parseInt(form_idx)-1)+'-symptom').parent().parent().parent().append($('#empty_symptom').html().replace(/__prefix__/g, form_idx));
	$('#id_sxlog-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>


{% endblock %}