<div class="card-group">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{% if type == 'CT' %}Linked Cases{% else %}Contacts{% endif %}</h5>
        </div>
        {% if contacts %}
            {% for contact in contacts %}
                {% if contact.contact_id or contact.exposing_case_id %}
                    <div class="card">
                        <div class="card-header" style="transform: rotate(0);">
                        {% if type == 'C' %}
                            <h6 class="card-title">
                                <a class="stretched-link"
                                           href="/TracingApp/info/CT/{{ contact.contact_id }}">
                                CT{{ contact.contact_id }} / {{ contact.contact.person.first }}
                                {% if contact.contact.person.mi %}
                                 {{ contact.contact.person.mi }}
                                {% endif %}
                                {{ contact.contact.person.last}}
                                {% if contact.contact.person.suffix %}
                                 {{ contact.contact.person.suffix }}
                                {% endif %}
                                {% if contact.contact.person.dob %} / {{ contact.contact.person.dob }}
                                {% elif contact.contact.person.age %} / {{ contact.contact.person.age }}
                                {% endif %} / <i>{{ contact.exposure.relation_to_case }}</i>
                                </a>
                            </h6>
                        {% else %}
                            <h6 class="card-title">
                                <a class="stretched-link"
                                           href="/TracingApp/info/C/{{ contact.exposing_case_id }}">
                                    C{{ contact.exposing_case_id }} /
                                            {{ contact.exposing_case.person.first }}
                                            {% if contact.exposing_case.person.mi %} {{ contact.exposing_case.person.mi }}
                                            {% endif %} {{ contact.exposing_case.person.last}}{% if contact.exposing_case.person.suffix %}
                                            {{ contact.exposing_case.person.suffix }}{% endif %}{% if contact.exposing_case.person.dob %} /
                                            {{ contact.exposing_case.person.dob }}{% elif contact.exposing_case.person.age %} / {{ contact.exposing_case.person.age }}{% endif %} /
                                            <i>{{ contact.relation_to_case }}</i>
                                </a>
                            </h6>
                        {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="card col-sm-2 p-0">
                                    <ul class="list-group">
                                        {% if type == 'C' %}
                                            <li class="list-group-item {% if not contact.contact.active %}bg-secondary{% endif %}">Last Exp: {{ contact.exposure.last_exposure }}</li>
                                            <li class="list-group-item {% if not contact.contact.active %}bg-secondary{% endif %}">QT End: {{ contact.exposure.quarantine_end }}</li>
                                            <li class="list-group-item {% if not contact.contact.active %}bg-secondary{% endif %}">Last Follow-up: {{ contact.contact.last_follow }}</li>
                                            <li class="list-group-item {% if not contact.contact.active %}bg-secondary{% endif %}">{{ contact.contact.status.status }}</li>
                                        {% else %}
                                            <li class="list-group-item {% if not contact.exposing_case.active %}bg-secondary{% endif %}">Isolating by PCP: {{ contact.exposing_case.iso_pcp }}</li>
                                            <li class="list-group-item {% if not contact.exposing_case.active %}bg-secondary{% endif %}">Tentative: {{ contact.exposing_case.tent_release }}</li>
                                            <li class="list-group-item {% if not contact.exposing_case.active %}bg-secondary{% endif %}">Released: {{ contact.exposing_case.release_date }}</li>
                                            <li class="list-group-item {% if not contact.exposing_case.active %}bg-secondary{% endif %}">{{ contact.exposing_case.status.status }}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="card col-sm-4 p-0" style="overflow-y: scroll;">
                                    {% if ct_symptoms %}
                                        {% for ct_symptom in ct_symptoms %}
                                            {% if ct_symptom.case_id == contact.contact_id and type == 'C' %}
                                                <div class="card-header">
                                                    <h6 class="card-title">{{ ct_symptom.sx.symptom }} - Start: {{ ct_symptom.sx.start }}</h6>
                                                </div>
                                            {% elif ct_symptom.case_id == contact.exposing_case_id and type == 'CT' %}
                                                <div class="card-header">
                                                    <h6 class="card-title">{{ ct_symptom.sx.symptom }} - Start: {{ ct_symptom.sx.start }}</h6>
                                                </div>
                                            {% endif %}
                                            <div class="card-body">
                                                {% for ct_symptom_log in ct_symptoms_details %}
                                                    <div class="card">
                                                        <div class="card-header">
                                                            {{ ct_symptom_log.sx_log.rec_date }} {{ ct_symptom_log.sx_log.user.first_name }} {{ ct_symptom_log.sx_log.user.last_name }}
                                                        </div>
                                                        <div class="card-group">
                                                            <div class="card">{{ ct_symptom_log.sx_log.sx_state }}</div>
                                                            <div class="card">{{ ct_symptom_log.sx_log.note }}</div>
                                                            <div class="card">st:{{ ct_symptom_log.sx_log.start }}</div>
                                                            <div class="card">end:{{ ct_symptom_log.sx_log.end }}</div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="card-header">
                                            <h6 class="card-title">No Reported Symptoms</h6>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card col-sm-6 p-0">
                                    {% if ct_logs %}
                                    {% for ct_log in ct_logs %}
                                    {% if type == 'C' %}
                                        {% if ct_log.contact_id == contact.contact_id %}
                                        <div class="card-header">
                                            <h6 class="card-title">{{ ct_log.log.log_date }} - {{ ct_log.log.user.first_name }} {{ ct_log.log.user.last_name }}</h6>
                                        </div>
                                        <div class="card-body">
                                            {{ ct_log.log.notes }}
                                        </div>
                                        {% endif %}
                                    {% else %}
                                        {% if ct_log.case_id == contact.exposing_case_id %}
                                        <div class="card-header">
                                            <h6 class="card-title">{{ ct_log.log.log_date }} - {{ ct_log.log.user.first_name }} {{ ct_log.log.user.last_name }}</h6>
                                        </div>
                                        <div class="card-body">
                                            {{ ct_log.log.notes }}
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <div class="card-header">
                                        <h6 class="card-title">No Recorded Contact Attempts</h6>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                <div class="card">
                    <div class="card-header" style="transform: rotate(0);">
                            <h6 class="card-title">
                                Linked to external case.
                            </h6>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="card-body">
                <p class="card-text">No Contacts reported.</p>
            </div>
        {% endif %}
    </div>
</div>