{% extends 'base.html' %}

{% block title %}Tracing Information - {{ type }}{% endblock %}

{% block content2 %}
{% if case.active %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
{% else %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom bg-secondary text-white">
{% endif %}
        <div class="container">
            <div class="row {% if assigned %}{% if assigned_to_this_user %}bg-info{% else %}bg-warning{% endif %}{% endif %}">
                <div class="col-sm-4">
                    <h1 class="h2">{{ case.person.first }}
                            {% if case.person.mi %} {{ case.person.mi }}
                            {% endif %} {{ case.person.last}}{% if case.person.suffix %} {{ case.person.suffix }}{% endif %}</h1>
                </div>
                <div class="col-sm-6">
                    <h1 class="h2">DOB: {{ case.person.dob }}</h1>
                </div>
                <div class="col-sm-2">
                        <h1 class="h2">{% if case.active %} Open {% else %} Closed {% endif %}</h1>
                </div>
            </div>
        </div>
    </div>
        {% include 'info/person-contact-card.html' %}
        {% include 'info/testing-info.html' %}
        {% include 'info/epitrax-link.html' %}
        {% include 'info/vaccine-info.html' %}
        {% if type == 'C' %}{% include 'info/release-info.html' %}
        {% else %}{% include 'info/exposures.html' %}
        {% endif %}
        {% include 'info/pcp-info.html' %}
        {% include 'info/symptom-table.html' %}
        {% include 'info/call-log.html' %}
        <!-- if type == 'Case' %} -->
            {% include 'info/contact-card-contacts-list.html' %}
        <!-- else %}
             include 'contact-card-cases-list.html'
         endif %}-->

        {% include 'info/linked_cases.html' %}

        <div class="d-flex justify-content-between">
        {% if assigned %}
            {% if assigned_to_this_user %}
                <form method="post">
                    {% csrf_token %}
                    <input class="btn btn-warning" type="submit" name="drop_assignment" value="Drop Assignment" id="btn-id-drop_assignment" />
                </form>
            {% else %}
                <a class="btn btn-info" href="#" role="button" data-toggle="modal" data-target="#assignmentModal">See Assignment</a>
            {% endif %}
        {% else %}
            <form method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" name="assign_to_me" value="Assign to Me" id="btn-id-assign_to_me" />
            </form>
        {% endif %}


        {% if case.active and case.status.status == 'Needs investigation' %}
            <a class="btn btn-{% if assigned_to_this_user %}primary{% else %}secondary disabled{% endif %}" href="/TracingApp/investigate/{{ type }}/{{ case.case_id }}" role="button">Investigate Case</a>
        {% elif type == 'C' %}
            <a class="btn btn-{% if assigned_to_this_user %}primary{% else %}secondary disabled{% endif %}" href="/TracingApp/follow-up/{{ type }}/{{ case.case_id }}" role="button">Follow-up Case</a>
        {% else %}
            <a class="btn btn-{% if assigned_to_this_user %}primary{% else %}secondary disabled{% endif %}" href="/TracingApp/follow-up/{{ type }}/{{ case.contact_id }}" role="button">Follow-up Contact</a>
        {% endif %}
        </div>
        {% include 'info/assignment_modal.html' %}




    {% endblock %}
