<div class="form-row">
    <div class="">
        <div class="card flex-row">
            <div class="card-header col-md-2">
                <div class="row">
                    <h5 class="card-title">Patient Contact Information</h5>
                </div>
            </div>
            <div class="col-md-10">
                    <div class="card-body align-items-center">
                        {{ addressform.management_form }}
                        {% for addressform in addressforms %}
                        <div class="row">
                            <div class="input-group col-sm-2">
                                <label for='{{ addressform.street }}' class="">Address</label>
                                {{ addressform.street }}
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="input-group col-sm-2">
                                <label for='{{ addressform.street2 }}' class="">Address 2</label>
                                {{ addressform.street2 }}
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="input-group col-sm-2">
                                <label for='{{ addressform.city }}' class="">City</label>
                                {{ addressform.city }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body align-items-center">
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for='{{ addressform.state }}' class="">State</label>
                                {{ addressform.state }}
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="form-group col-sm-2">
                                <label for='{{ addressform.post_code }}' class="">Zip</label>
                                {{ addressform.post_code }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="card-body align-items-center">
                        {{ phoneform.management_form }}
                        {% for phoneform in phoneforms %}
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for='{{ phoneform.phone_number }}' class="">Phone Number</label>
                                {{ phoneform.phone_number }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
    </div>