{% extends 'base.html' %}

{% block content2 %}

    {% load crispy_forms_tags %}

<form method="post">

    {% include 'case edit/investigation-forms.html' %}

    <p></p>
    <div class="form-row">
        <input class="btn btn-primary" type="submit" name="save_and_exit" value="Save and exit" />
    </div>
    <div class="form-row">
        <input class="btn btn-primary" type="submit" name="save_and_add_contacts" value="Save and Add Contacts" />
    </div>
</form>

<script>
    $('#add_more').click(function() {
	var form_idx = $('#id_form-TOTAL_FORMS').val();
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

    $('#button-id-add_phone').click(function() {
	var form_idx = $('#id_phone-TOTAL_FORMS').val();
	$('#div_id_phone-'+(parseInt(form_idx)-1)+'-phone_number').parent().parent().parent().append($('#empty_phone').html().replace(/__prefix__/g, form_idx));
	$('#id_phone-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

    $('#button-id-add_email').click(function() {
	var form_idx = $('#id_email-TOTAL_FORMS').val();
	$('#div_id_email-'+(parseInt(form_idx)-1)+'-email_address').parent().parent().parent().append($('#empty_email').html().replace(/__prefix__/g, form_idx));
	$('#id_email-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

    $('#button-id-add_address').click(function() {
	var form_idx = $('#id_address-TOTAL_FORMS').val();
	$('#div_id_address-'+(parseInt(form_idx)-1)+'-street').parent().parent().parent().append($('#empty_address').html().replace(/__prefix__/g, form_idx));
	$('#id_address-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

    $('#button-id-add_symptom').click(function() {
	var form_idx = $('#id_sxlog-TOTAL_FORMS').val();
	$('#div_id_sxlog-'+(parseInt(form_idx)-1)+'-symptom').parent().parent().parent().append($('#empty_symptom').html().replace(/__prefix__/g, form_idx));
	$('#id_sxlog-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

    $('#button-id-add_test').click(function() {
	var form_idx = $('#id_new_test-TOTAL_FORMS').val();
	$('#div_id_new_test-'+(parseInt(form_idx)-1)+'-sample_date').parent().parent().parent().append($('#empty_test').html().replace(/__prefix__/g, form_idx));
	$('#id_new_test-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>
<script>
    // ==================================================
//
// jquery-input-mask-phone-number 1.0.14
//
// Licensed (The MIT License)
//
// Copyright © Raja Rama Mohan Thavalam <rajaram.tavalam@gmail.com>
//
// Last Updated On: 22/Aug/2020 IST  12:05 AM
//
// ==================================================

(function ($) {
    $.fn.usPhoneFormat = function (options) {
        var params = $.extend({
            format: 'xxx-xxx-xxxx',
            international: false,

        }, options);

        if (params.format === 'xxx-xxx-xxxx') {
            $(this).bind('paste', function (e) {

                e.preventDefault();
                var inputValue = e.originalEvent && e.originalEvent.clipboardData.getData('Text');
                inputValue = inputValue.replace(/\D/g, '');
                if (!$.isNumeric(inputValue)) {
                    return false;
                } else {
                    if (inputValue.length > 9) {
                        inputValue = String(inputValue.replace(/(\d{3})(\d{3})(\d{4})/, "$1-$2-$3"));
                    } else {
                        inputValue = String(inputValue.replace(/(\d{3})(?=\d)/g, '$1-'));
                    }
                    $(this).val(inputValue);
                    $(this).val('');
                    inputValue = inputValue.substring(0, 12);
                    $(this).val(inputValue);
                }
            });
            $(this).on('keydown touchend', function (e) {

                e = e || window.event;
                var key = e.which || e.keyCode; // keyCode detection
                var ctrl = e.ctrlKey ? e.ctrlKey : ((key === 17) ? true : false); // ctrl detection
                if (key == 86 && ctrl) { // Ctrl + V Pressed !

                } else if (key == 67 && ctrl) { // Ctrl + C Pressed !

                } else if (key == 88 && ctrl) { // Ctrl + x Pressed !

                } else if (key == 65 && ctrl) { // Ctrl + a Pressed !
                    $(this).trigger("paste");
                } else if (key != 9 && e.which != 8 && e.which != 0 && !(e.keyCode >= 96 && e.keyCode <= 105) && !(e.keyCode >= 48 && e.keyCode <= 57)) {
                    return false;
                }
                var curchr = this.value.length;
                var curval = $(this).val();
                if (curchr == 3 && e.which != 8 && e.which != 0) {
                    $(this).val(curval + "-");
                } else if (curchr == 7 && e.which != 8 && e.which != 0) {
                    $(this).val(curval + "-");
                }
                $(this).attr('maxlength', '12');
            });

        } else if (params.format === '(xxx) xxx-xxxx') {
            $(this).on('keydown touchend', function (e) {

                e = e || window.event;
                var key = e.which || e.keyCode; // keyCode detection
                var ctrl = e.ctrlKey ? e.ctrlKey : ((key === 17) ? true : false); // ctrl detection
                if (key == 86 && ctrl) { // Ctrl + V Pressed !

                } else if (key == 67 && ctrl) { // Ctrl + C Pressed !

                } else if (key == 88 && ctrl) { //Ctrl + x Pressed

                } else if (key == 65 && ctrl) { //Ctrl + a Pressed !
                    $(this).trigger("paste");
                } else if (key != 9 && e.which != 8 && e.which != 0 && !(e.keyCode >= 96 && e.keyCode <= 105) && !(e.keyCode >= 48 && e.keyCode <= 57)) {
                    return false;
                }
                var curchr = this.value.length;
                var curval = $(this).val();
                if (curchr == 3 && e.which != 8 && e.which != 0) {
                    $(this).val('(' + curval + ')' + " ");
                } else if (curchr == 9 && e.which != 8 && e.which != 0) {
                    $(this).val(curval + "-");
                }
                $(this).attr('maxlength', '14');

            });
            $(this).bind('paste', function (e) {

                e.preventDefault();
                var inputValue = e.originalEvent && e.originalEvent.clipboardData.getData('Text');
                inputValue = inputValue.replace(/\D/g, '');

                if (!$.isNumeric(inputValue)) {
                    return false;
                } else {

                    if (inputValue.length > 9) {
                        inputValue = String(inputValue.replace(/(\d{3})(\d{3})(\d{4})/, "($1) $2-$3"));
                    } else if (inputValue.length > 6) {
                        inputValue = String(inputValue.replace(/(\d{3})(\d{3})(?=\d)/g, '($1) $2-'));
                    } else if (inputValue.length > 3) {
                        inputValue = String(inputValue.replace(/(\d{3})(?=\d)/g, '($1) '));
                    }

                    $(this).val(inputValue);
                    $(this).val('');
                    inputValue = inputValue.substring(0, 14);
                    $(this).val(inputValue);
                }
            });

        }

    }
}(jQuery));

$(document).ready(function () {
    $('.phone').find("input").usPhoneFormat({
        format: '(xxx) xxx-xxxx',
    });
});
</script>

{% endblock %}