{% extends 'base.html' %}

{% block content2 %}

    {% load crispy_forms_tags %}

<form method="post">

    {% include 'case edit/investigation-forms.html' %}

    <p></p>
    <div class="form-row">
        <input class="btn btn-primary" type="submit" name="save_and_exit" value="Save and exit" />
    </div>
    <div class="form-row">
        <input class="btn btn-primary" type="submit" name="save_and_add_contacts" value="Save and Add Contacts" />
    </div>
</form>

<script>
    $('#add_more').click(function() {
	var form_idx = $('#id_form-TOTAL_FORMS').val();
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

    $('#button-id-add_phone').click(function() {
	var form_idx = $('#id_phone-TOTAL_FORMS').val();
	$('#div_id_phone-'+(parseInt(form_idx)-1)+'-phone_number').parent().parent().parent().append($('#empty_phone').html().replace(/__prefix__/g, form_idx));
	$('#id_phone-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

    $('#button-id-add_email').click(function() {
	var form_idx = $('#id_email-TOTAL_FORMS').val();
	$('#div_id_email-'+(parseInt(form_idx)-1)+'-email_address').parent().parent().parent().append($('#empty_email').html().replace(/__prefix__/g, form_idx));
	$('#id_email-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

    $('#button-id-add_address').click(function() {
	var form_idx = $('#id_address-TOTAL_FORMS').val();
	$('#div_id_address-'+(parseInt(form_idx)-1)+'-street').parent().parent().parent().append($('#empty_address').html().replace(/__prefix__/g, form_idx));
	$('#id_address-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

    $('#button-id-add_symptom').click(function() {
	var form_idx = $('#id_sxlog-TOTAL_FORMS').val();
	$('#div_id_sxlog-'+(parseInt(form_idx)-1)+'-symptom').parent().parent().parent().append($('#empty_symptom').html().replace(/__prefix__/g, form_idx));
	$('#id_sxlog-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>

{% endblock %}