<div class="form-row">
    <div class="">
        <div class="card flex-row">
            <div class="card-header col-md-2">
                <div class="row align-items-center">
                    <h5 class="card-title">Case Information</h5>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card-body align-items-center">
                    {% load crispy_forms_tags %}
                    {{ caseform.management_form|crispy }}
                    {{ caseform|as_crispy_errors }}
                    {% crispy caseform %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>