<div class="form-row">
    <div class="">
        <div class="card flex-row">
            <div class="card-header col-md-2">
                <div class="row align-items-center">
                    <h5 class="card-title">Assignment                </h5>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card-body align-items-center">
                    <div class="row">
                        <div class="input-group col-md-5">
                            <label for='{{ form.assign_to }}' class="">User</label>
                            {{ form.assign_to }}
                        </div>
                        <div class="col-md-2"></div>
                        <div class="input-group col-md-5">
                            <label for='{{ form.assignment_type }}' class="">Assignment Type</label>
                            {{ form.assignment_type }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>