<div class="form-row">
            <div class="">
                <div class="card flex-row">
                    <div class="card-header col-md-2">
                        <div class="row align-items-center">
                            <h5 class="card-title">Patient Information</h5>
                        </div>
                    </div>
                    <div class="col-md-10">
<!--                        <div class="card">-->
                            <div class="card-body align-items-center">
                                {{ personform.management_form }}
                                {{ personform.errors }}
                                {{ personform.media }}
                                <div class="row">
                                    <div class="input-group col-sm-2">
                                        <label for='{{ personform.first }}' class="">First</label>
                                        {{ personform.first }}
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="input-group col-sm-2">
                                        <label for='{{ personform.mi }}' class="">MI</label>
                                        {{ personform.mi }}
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="input-group col-sm-2">
                                        <label for='{{ personform.last }}' class="">Last</label>
                                        {{ personform.last }}
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="form-group col-sm-1">
                                        <label for='{{ personform.suffix }}' class="">Suffix</label>
                                        {{ personform.suffix }}
                                    </div>
                                </div>
                            </div>
<!--                        </div>-->
<!--                        <div class="card">-->
                            <div class="card-body align-items-center">
                                <div class="row">
                                    <div class="form-group col">
                                        <label for='{{ personform.sex }}' class="">Sex</label>
                                        {{ personform.sex }}
                                    </div>
                                    <div class="input-group col">
                                        <label for='{{ personform.dob }}' class="">Date of Birth</label>
                                        {{ personform.dob }}
                                    </div>
                                </div>
                            </div>
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>