<div class="form-row">
            <div class="">
                <div class="card flex-row">
                    <div class="card-header col-md-2">
                        <div class="row align-items-center">
                            <h5 class="card-title">Patient Information</h5>
                        </div>
                    </div>
                    <div class="col-md-10">
<!--                        <div class="card">-->
                            <div class="card-body align-items-center">
                                <div class="row">
                                    <div class="input-group col-sm-2">
                                        <label for='{{ form.first }}' class="">First</label>
                                        {{ form.first }}
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="input-group col-sm-2">
                                        <label for='{{ form.mi }}' class="">MI</label>
                                        {{ form.mi }}
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="input-group col-sm-2">
                                        <label for='{{ form.last }}' class="">Last</label>
                                        {{ form.last }}
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="form-group col-sm-1">
                                        <label for='{{ form.suffix }}' class="">Suffix</label>
                                        {{ form.suffix }}
                                    </div>
                                </div>
                            </div>
<!--                        </div>-->
<!--                        <div class="card">-->
                            <div class="card-body align-items-center">
                                <div class="row">
                                    <div class="form-group col">
                                        <label for='{{ form.sex }}' class="">Sex</label>
                                        {{ form.sex }}
                                    </div>
                                    <div class="input-group col">
                                        <label for='{{ form.dob }}' class="">Date of Birth</label>
                                        {{ form.dob }}
                                    </div>
                                </div>
                            </div>
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>