<div class="form-row">
    <div class="">
        <div class="card flex-row">
            <div class="card-header col-md-2">
                <div class="row align-items-center">
                    <h5 class="card-title">Patient Testing Information</h5>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card-body align-items-center">
                    {{ testform.management_form }}
                    {{ testform.media }}
                    <div class="row">
                        <div class="input-group col-sm-3">
                            <label for='{{ testform.sample_date }}' class="">Test Date</label>
                            {{ testform.sample_date }}
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="input-group col-sm-3">
                            <label for='{{ testform.result_date }}' class="">Result Date</label>
                            {{ testform.result_date }}
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="input-group col-sm-3">
                            <label for='{{ testform.rcvd_date }}' class="">Received Date</label>
                            {{ testform.rcvd_date }}
                        </div>
                    </div>
                </div>
                <div class="card-body align-items-center">
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label for='{{ testform.result }}' class="">Result Positive</label>
                            {{ testform.result }}
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="form-group col-sm-3">
                            <label for='{{ testform.test_type }}' class="">Test Type</label>
                            {{ testform.test_type }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>