{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content2 %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">My Assignments</h1>
    </div>
    <h2>Cases</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Assignment Type</th>
            <th>Case ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Last Follow-up Date</th>
          </tr>
        </thead>
        <tbody>
        {% if cases %}
        {% for x in cases %}
          {% if x.status.status_id == 1 %}
          <tr style="transform: rotate(0);">
            <td>{{ x.assign_type.assign_type }}</td>
            <td><a href="info/C/{{ x.case_id }}" class="stretched-link">C{{ x.case_id }}</a></td>
            <td>{{ x.case.person.first }} {{ x.case.person.last }}</td>
            <td>{{ x.case.status.status }}</td>
            <td>{{ x.case.last_follow }}</td>
          </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        No cases currently assigned.
        {% endif %}
        </tbody>
      </table>
    </div>
<h2>Contacts</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Assignment Type</th>
            <th>Contact ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Last Follow-up Date</th>
          </tr>
        </thead>
        <tbody>
        {% if contacts %}
        {% for x in contacts %}
        {% if x.status.status_id == 1 %}
            <tr>

              <td>{{ x.assign_type.assign_type }}</td>

              <td><a href="info/CT/{{ x.contact_id }}">CT{{ x.contact_id }}</a></td>
              <td>{{ x.contact.person.first }} {{ x.contact.person.last }}</td>
              <td>{{ x.contact.status.status }}</td>
              <td>{{ x.contact.last_follow }}</td>

            </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        No contacts currently assigned.
        {% endif %}
        </tbody>
      </table>
    </div>

{% if outbreaks %}
<h2>Outbreaks</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Assignment Type</th>
            <th>Outbreak ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Follow-up Date</th>
          </tr>
        </thead>
        <tbody>
        {% for x in outbreaks %}
          <tr>
            <td>{{ x.assign_type.assign_type }}</td>
            <td>O{{ x.outbreak_id }}</td>
            <td>{{ x.case.person.first }} {{ x.case.person.last }}</td>
            <td>{{ x.case.status.status }}</td>
            <td>1</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endif %}

{% endblock %}