{% load crispy_forms_tags %}
{% csrf_token %}

{% crispy personform %}
{% crispy addressforms addressformhelper %}
<input type="button" name="add_address" value="Add Address" class="btn btn-info" id="button-id-add_address">
{% crispy phoneforms phoneformhelper %}
<input type="button" name="add_phone" value="Add Phone" class="btn btn-info" id="button-id-add_phone">
{% crispy testform %}
{% crispy caseform %}
{% crispy symptomlogforms symptomloghelper %}
<input type="button" name="add_symptom" value="Add Symptom" class="btn btn-info" id="button-id-add_symptom">

<div id="empty_address" style="display:none">
    {% crispy addressforms.empty_form addressformhelper %}
</div>
<div id="empty_phone" style="display:none">
    {% crispy phoneforms.empty_form phoneformhelper %}
</div>
<div id="empty_symptom" style="display:none">
    {% crispy symptomlogforms.empty_form symptomloghelper %}
</div>